.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #000033; /* Fond bleu nuit */
  overflow: hidden;
  cursor: none; /* Masque le curseur par défaut */
}

.phare {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-image: url('/home/shino/EKIP/test-phar/phare.png');
  background-size: cover;
}

.caillou {
    position: absolute;
    top: 72%;
    left: 42.5%;
    width: 300px; /* Largeur du rectangle */
    height: 500px; /* Hauteur du rectangle */
    background-color: rgb(119, 114, 114); /* Couleur de fond du rectangle */
}

.light {
  position: absolute;
  width: 200px;
  height: 200px;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.8) 20%, transparent 100%); /* Lumière du phare */
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none; /* Empêche l'élément de bloquer les événements de souris */
}